@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #18181a;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #18181a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.jodit-wysiwyg {
  color: black; /* Exclude editor from the global foreground color */
}
